@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #eeeeea;
    overflow-x: hidden;
}

.container {
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}

.card {
    width: 120px;
    border-radius: .75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28,-0.03,0,.99);
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.397);
}

.card > .row {
    color: white;
    display: flex;
    flex-wrap: nowrap;
}

.card > .row > .description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 80px;
    width: 520px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
}

.description p {
    color: #b0b0ba;
    padding-top: 5px;
}

.description h4 {
    text-transform: uppercase;
}

#c1, #c2, #c3, #c4 {
    display: none;
}

#c1:checked + label, #c2:checked + label, #c3:checked + label, #c4:checked + label {
    width: 500px;
}

#c1:checked + label .description, #c2:checked + label .description, #c3:checked + label .description, #c4:checked + label .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.card[for="c1"] {
    background-image: url('/Cbum.jpg');
}
.card[for="c2"] {
    background-image: url('/Corda.jpg');
}
.card[for="c3"] {
    background-image: url('/Medicos.jpg');
}
.card[for="c4"] {
    background-image: url('/Alimentação.jpg');
}
